header

  div.logo
    a(href='/')
      img(src= '/assets/logo.png' width="80")
    h1 L'atelier des histoires
  
  nav
    ul
      li 
        a(href="/") Accueil
      li
        a(href="/stories") Toutes les histoires
      li
        a(href="/about") A propos

hr.header
    