extends layouts/message-layout.pug

block message
  div.message

    if deleteEvents
      h3 Voulez-vous vraiment supprimer les séquences de l'histoire suivante et supprimer tous les événements&nbsp?
    else 
      h3 Voulez-vous vraiment supprimer les séquences de l'histoire suivante en conservant les événements&nbsp?
    
    div.itemToDelete
        h4= story.title
        if story.coveringEvent && story.coveringEvent.description
          p= story.coveringEvent.description

    form.deleteButton( method='POST' action='')
        div.form-group
          input(type='hidden', name='deleteEvents', required='true', value=(deleteEvents? '1': '0') )
        button.btn.btn-primary.btn-lg(type='submit') Supprimer